<form class="ui stacked segment form" action="/about/addcomment" method="POST">
    <div class="field">
    <label>Comment</label>
    <textarea rows="2" placeholder="Hello there." name="commentText"></textarea>
  </div>
  <button class="ui blue submit button">Add Comment</button>
</form>
