<div class="ui basic modal">
  <div class="ui icon header">
    <i class="check icon"></i>
    Message Sent!
  </div>
  <div class="content">
    <p>Thank you for you query, please expect a response shortly.</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Close
    </div>
  </div>
</div>